[Unit]
Description=Wireguard Manager

[Service]
ExecStart=/etc/wgmanager/wgmanager
WorkingDirectory=/etc/wgmanager

[Install]
WantedBy=multi-user.target